.face {
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    width: 150px;
    height: 170px;
}

.santa {
    left: 68px;
    top: 36px;
}

.penguin {
    left: 45px;
    top: 24px;
}

.deer {
    left: 68px;
    top: 75px;
}

.snowman {
    left: 38px;
    top: 33px;
}