<div class="container">
  @if(socketService.isStation()){
  <app-station />
  } @else {

  <div>
    <app-neon-text title="1" subtitle="Vote for" />
  </div>
  <div [style]="{'left': localPosition()+'px'}" class="convoy-container">
    @for (passengerImage of passengerImages(); track $index) {
    <app-wagon [width]="socketService.wagonWidth()" [index]="$index" [passengerImage]="passengerImage"
      [randomPassengerImageIndex]="socketService.randomImageIndexes()[$index]" />
    }
    <app-train-engine [width]="socketService.engineWidth()" />

    <div [style]="{'min-width': socketService.stellaWidth()+'px'}" class="stella-wrapper">
      <img class="stella" src="../assets/images/stella_shouting.png" alt="">
    </div>

  </div>

  }

</div>
<ngx-particles [id]="snow" [options]="snowOptions"></ngx-particles>