@if(socketService.isStation()){
  <app-station />
} @else {
<div class="container">
  <div style="display: flex; padding: 50px">
    {{socketService.instanceIndex()}} - {{socketService.trainPosition()}} - {{localPosition()}}
  </div>
    <div [style]="{'left': localPosition()+'px'}" class="convoy-container">
    @for (item of [].constructor(socketService.numberOfWagons()); track $index) {
      <app-wagon [width]="socketService.wagonWidth()" />
    }
    <app-train-engine [width]="socketService.engineWidth()" />
  </div>
  
</div>
}