:host {
    position: relative;
}

img {
    // transform: translateY(-150px);
}
.stella {
    position: absolute;
    right: -500px;
    height: 400px;
    bottom: 0;
    // animation: move 5s linear infinite;
}

@keyframes move {
    0% {
        transform: translateX(100px);

    }
    50% {
        transform: translateX(400px);
    }
    100% {
        transform: translateX(100px);

    }
}